body {
  font-family: 'Bona Nova SC', serif;
}

/* You can set different weights for different elements */
h1, h2, h3 {
  font-weight: 700; /* Bold */
}

p {
  font-weight: 400; /* Regular */
}

em {
  font-style: italic;
}
