[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
flask = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
