
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .about-page {
    background-image: url('client/src/assets/pexels-recalmedia-60217.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  
  .about-container h1, .about-container h2 {
    color: #333;
  }
  
  .about-container p {
    line-height: 1.6;
  }
  
  .about-container ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(248, 249, 250, 0.9); 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-page {
    background-image: url('client/src/assets/pexels-recalmedia-60217.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
  }
  body {
    font-family: 'Bona Nova SC', serif;
  }
  
  /* You can set different weights for different elements */
  h1, h2, h3 {
    font-weight: 700; /* Bold */
  }
  
  p {
    font-weight: 400; /* Regular */
  }
  
  em {
    font-style: italic;
  }
  
  /* ... rest of your existing styles ... */