#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.info {
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
}

.btn {
  background-color: #3535d8;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #080875;
}

.go-back {
  margin-top: 20px;
  background-color: #de5499;
}

.go-back:hover {
  background-color: #c94b87;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin: 20px auto;
  display: block;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 6px #0000001a;
  transition: all 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 4px 8px #007bff33;
  outline: none;
}

.search-bar::placeholder {
  color: #999;
  opacity: 1;
}