.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.info {
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.go-back {
  margin-top: 20px;
  background-color: #de5499;
}

.go-back:hover {
  background-color: #c94b87;
}
