/* Reviews.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  .form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add some transparency */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px 0;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
  }
  
  button:not(:disabled):hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #ff0000;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .form-container {
    background-image: url('src/assets/pexels-mateusz-dach-99805-914929.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 0; /* Adjust padding to fit your design */
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add some transparency */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pic{
    background-color:#FFFDD0  ;
  }
  